.focus {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.focus-left {
	position: absolute;
	left: 15%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.focus-right {
	position: absolute;
	left: 85%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.title {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 5%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.columns {
    width: 300px;
    height: 300px;
}

.c1 {
	position: absolute;
	top:45%;
	left: 20%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.c2 {
	position: absolute;
	top:45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.c3 {
	position: absolute;
	top:45%;
	left: 80%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}